n8n/workflow.json
{
  "name": "deal-diligence",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Deal Diligence Submission",
        "formDescription": "Upload 2–4 PDFs and a company name to evaluate a deal.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "e.g. CoreWeave, Inc."
            },
            {
              "fieldLabel": "Documents",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "multipleFiles": true,
              "requiredField": true
            }
          ]
        },
        "webhookPath": "deal-diligence",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-form-trigger-000000000001",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [160, 300],
      "webhookId": "deal-diligence-form-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Coordinator — Phase 3 task 3.2\n// Per design plan §2.2. See P-3 in .claude/memory/pitfalls.md — n8n 2.17.7\n// Code-node sandbox blocks require('crypto') AND Web Crypto global `crypto`.\n// Math.random-based UUID v4 is acceptable here (I-2 scoped to RFD only).\n\n// ---- filename-regex source_type classifier (design plan §2.3) ----\nconst CLASSIFIER = [\n  { rx: /\\b(s-?1|10-?k|10-?q|8-?k|20-?f|prospectus)\\b/i, source_type: 'regulatory_filing',  human: 'S-1 Filing' },\n  { rx: /\\b(press[\\s\\-_]release|announce(?:ment)?|newswire)\\b/i, source_type: 'press_release',     human: 'Press Release' },\n  { rx: /\\b(teardown|analysis|report|breakdown|case[\\s\\-_]study)\\b/i, source_type: 'analyst_report',    human: 'Analyst Report' },\n  { rx: /\\b(transcript|call|interview)\\b/i,                source_type: 'expert_transcript', human: 'Expert Transcript' },\n  { rx: /\\b(deck|presentation|pitch|slide)\\b/i,            source_type: 'management_deck',   human: 'Management Deck' },\n];\nfunction classifyFilename(filename) {\n  for (const c of CLASSIFIER) {\n    if (c.rx.test(filename)) return { source_type: c.source_type, human: c.human };\n  }\n  return { source_type: 'regulatory_filing', human: 'S-1 Filing' };\n}\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = (Math.random() * 16) | 0;\n    const v = c === 'x' ? r : (r & 0x3) | 0x8;\n    return v.toString(16);\n  });\n}\n\nconst item = $input.item.json;\n\nconst companyName = item['Company Name'] || item.company_name || 'Unknown Company';\nconst dealId = companyName.toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\nconst runId = uuidv4();\nconst timestampStarted = new Date().toISOString();\n\n// Form Trigger emits file metadata on item.Documents (matches form label).\n// Actual binaries are on $input.item.binary (filesystem-stored in 2.17.7).\nconst uploadedDocs = Array.isArray(item.Documents) ? item.Documents : [];\n\nconst humanCounts = {};\nconst documents = uploadedDocs.map((d, idx) => {\n  const filename = d.filename || `file-${idx}.pdf`;\n  const { source_type, human } = classifyFilename(filename);\n  humanCounts[human] = (humanCounts[human] || 0) + 1;\n  const suffix = humanCounts[human] > 1 ? ` (#${humanCounts[human]})` : '';\n  return {\n    file_id: uuidv4(),\n    filename,\n    source_name: `${companyName} ${human}${suffix}`,\n    source_type,\n    mime: d.mimetype || 'application/pdf',\n    bytes: d.size || 0,\n  };\n});\n\nconst source_manifest = documents.map(d => d.source_name);\n\nif (documents.length < 2) throw new Error(`Need at least 2 documents; received ${documents.length}.`);\nif (documents.length > 4) throw new Error(`Maximum 4 documents supported; received ${documents.length}.`);\n\nreturn {\n  json: {\n    run_id: runId,\n    deal_id: dealId,\n    company_name: companyName,\n    timestamp_started: timestampStarted,\n    documents,\n    source_manifest,\n  },\n  binary: $input.item.binary,\n};\n"
      },
      "id": "b2c3d4e5-coordinator-00000000002",
      "name": "Coordinator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Split per-document — Phase 3 task 3.3a\n// Takes the Coordinator's single item (with N documents + N binaries)\n// and emits N items, each carrying:\n//   - json: run metadata + this document's metadata on `document` field\n//   - binary: { data: <this document's binary> }\n//\n// Binary key discovery: n8n's Form Trigger multi-file output stores each\n// upload under a binary key. The key format varies by n8n version; we\n// match binary entries to documents by filename (most robust), with an\n// index-based fallback if the binary object lacks fileName metadata.\n\nconst items = $input.all();\nif (items.length !== 1) {\n  throw new Error(`Expected 1 input item from Coordinator, got ${items.length}`);\n}\nconst item = items[0];\nconst meta = item.json;\nconst binary = item.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nif (binaryKeys.length !== meta.documents.length) {\n  // Not fatal; log for diagnosis and continue with whatever we have.\n  console.log(`WARN: documents=${meta.documents.length} but binaryKeys=${binaryKeys.length}`);\n}\n\n// Build a lookup: filename → binary entry. Fallback to index order.\nfunction findBinaryForDoc(doc, idx) {\n  // Try fileName match first (most n8n versions set this).\n  for (const key of binaryKeys) {\n    const b = binary[key];\n    if (b && (b.fileName === doc.filename || b.fileName?.toLowerCase() === doc.filename.toLowerCase())) {\n      return { key, entry: b };\n    }\n  }\n  // Fallback: index-order assumption (Coordinator iterated same order).\n  const fallbackKey = binaryKeys[idx];\n  if (fallbackKey) return { key: fallbackKey, entry: binary[fallbackKey] };\n  return null;\n}\n\nconst results = meta.documents.map((doc, idx) => {\n  const match = findBinaryForDoc(doc, idx);\n  if (!match) {\n    throw new Error(`No binary found for document: ${doc.filename}`);\n  }\n  return {\n    json: {\n      run_id: meta.run_id,\n      deal_id: meta.deal_id,\n      company_name: meta.company_name,\n      timestamp_started: meta.timestamp_started,\n      source_manifest: meta.source_manifest,\n      document: doc, // {file_id, filename, source_name, source_type, mime, bytes}\n    },\n    // Copy the matched binary onto a stable property name 'data' so\n    // downstream Extract from File can reference it predictably.\n    binary: { data: match.entry },\n  };\n});\n\nreturn results;\n"
      },
      "id": "c3d4e5f6-split-docs-000000000003",
      "name": "Split Per-Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {
          "joinPages": true
        }
      },
      "id": "d4e5f6a7-extract-pdf-00000000004",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Text Chunker — Phase 3 task 3.3b\n// Character-based chunking. n8n Code sandbox has no tokenizer access\n// (tiktoken etc. would need require); approximate 1 token ≈ 4 chars for\n// English regulatory prose. 1000 tokens ≈ 4000 chars, 100 overlap ≈ 400.\n//\n// Per-chunk metadata (design plan §2.3) includes char offsets and\n// page_estimate (computed as ceil(char_offset / 2000), since the S-1 PDF\n// averages roughly 2000 chars/page at 9pt Helvetica in Letter).\n//\n// Input: N items from Extract from File, each with json.text (full doc).\n// Output: M items where M ≈ sum(text.length / 3600) across docs. A 1.28M\n// char S-1 produces ~356 chunks; a 5K char article produces 1–2 chunks.\n\nconst CHUNK_CHARS = 4000;\nconst OVERLAP_CHARS = 400;\nconst CHARS_PER_PAGE = 2000;\n\nconst items = $input.all();\nconst chunks = [];\n\nfor (const item of items) {\n  const text = typeof item.json.text === 'string' ? item.json.text : '';\n  if (text.length === 0) continue; // skip empty docs (bad PDF or redacted)\n\n  // Per-chunk metadata uses document-scoped fields only. Drop the PDF\n  // byproducts (numpages, info, version, metadata) — they inflate every\n  // chunk's payload downstream and aren't useful for retrieval.\n  const baseMeta = {\n    run_id: item.json.run_id,\n    deal_id: item.json.deal_id,\n    company_name: item.json.company_name,\n    timestamp_started: item.json.timestamp_started,\n    source_manifest: item.json.source_manifest,\n    document: item.json.document,\n  };\n\n  let pos = 0;\n  let chunkIndex = 0;\n  while (pos < text.length) {\n    const end = Math.min(pos + CHUNK_CHARS, text.length);\n    chunks.push({\n      json: {\n        ...baseMeta,\n        chunk_index: chunkIndex,\n        char_offset_start: pos,\n        char_offset_end: end,\n        page_estimate: Math.max(1, Math.ceil(pos / CHARS_PER_PAGE)),\n        text: text.substring(pos, end),\n      },\n    });\n    chunkIndex++;\n    if (end >= text.length) break;\n    pos = end - OVERLAP_CHARS;\n  }\n}\n\nconsole.log(`Chunker emitted ${chunks.length} chunks from ${items.length} documents.`);\nreturn chunks;\n"
      },
      "id": "e5f6a7b8-chunker-0000000000005",
      "name": "Text Chunker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALICLOUD_BASE_URL }}/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.ALICLOUD_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.ALICLOUD_EMBEDDING_MODEL }}\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f6a7b8c9-embed-000000000006",
      "name": "Embed Chunk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Extract Embedding — Phase 3 task 3.3c\n// The HTTP Request node output merges the Alicloud response into the\n// item's JSON. Response shape (OpenAI-compatible embeddings):\n//   { object: 'list',\n//     data: [{ embedding: [0.1, -0.05, ...], index: 0, object: 'embedding' }],\n//     model: 'text-embedding-v4',\n//     usage: { prompt_tokens: 900, total_tokens: 900 } }\n//\n// We want: the chunk metadata + a flat `embedding` field. Everything else\n// (data array, model echo, usage) is bulky and not useful downstream.\n\nconst j = $input.item.json;\nconst data = Array.isArray(j.data) ? j.data : [];\nconst embedding = data[0] && Array.isArray(data[0].embedding) ? data[0].embedding : null;\nif (!embedding) {\n  // Non-fatal: emit the item with embedding: null. Downstream retrieval\n  // will skip chunks whose embedding is missing.\n  console.log(`WARN: no embedding in response for chunk_index=${j.chunk_index}`);\n}\n\n// Extract usage for token accounting (logged for cost model refinement).\nconst usage = j.usage || {};\n\nreturn {\n  json: {\n    run_id: j.run_id,\n    deal_id: j.deal_id,\n    company_name: j.company_name,\n    timestamp_started: j.timestamp_started,\n    source_manifest: j.source_manifest,\n    document: j.document,\n    chunk_index: j.chunk_index,\n    char_offset_start: j.char_offset_start,\n    char_offset_end: j.char_offset_end,\n    page_estimate: j.page_estimate,\n    text: j.text,\n    embedding,\n    embedding_dim: embedding ? embedding.length : 0,\n    embedding_tokens: usage.prompt_tokens || 0,\n  },\n};\n"
      },
      "id": "a7b8c9d0-extract-embed-00000000007",
      "name": "Extract Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Aggregate Vector Store — Phase 3 task 3.3d\n// Folds all per-chunk items (from Extract Embedding) into ONE item\n// carrying the full in-memory vector store. Downstream specialist\n// agents run cosine-similarity retrieval against `chunks[]`, optionally\n// filtering to a single document via chunk.file_id.\n//\n// Path A (hand-rolled retrieval, decided 2026-04-24T18:30) — we do NOT\n// use n8n's LangChain Simple Vector Store. Our store is just a JSON\n// array held in a single workflow item.\n//\n// Input: N items (one per chunk), each with run-level + per-chunk meta.\n// Output: 1 item:\n//   { run_id, deal_id, company_name, timestamp_started, source_manifest,\n//     chunks: [{ file_id, source_name, source_type, filename,\n//                chunk_index, char_offset_start, char_offset_end,\n//                page_estimate, text, embedding }],\n//     meta: { chunk_count, total_embedding_tokens, documents_ingested } }\n\nconst items = $input.all();\nif (items.length === 0) {\n  throw new Error('Aggregate Vector Store received 0 items. Ingestion broke upstream.');\n}\n\n// Run-level metadata comes from the first item; all items share it.\nconst first = items[0].json;\n\n// Flatten each chunk into a retrieval-ready shape. Nested `document`\n// object is hoisted up so retrieval filters can access .file_id etc.\n// without deep-path access.\nconst chunks = items.map((item) => {\n  const j = item.json || {};\n  const doc = j.document || {};\n  return {\n    file_id: doc.file_id || null,\n    source_name: doc.source_name || 'Unknown Source',\n    source_type: doc.source_type || 'regulatory_filing',\n    filename: doc.filename || null,\n    chunk_index: j.chunk_index ?? null,\n    char_offset_start: j.char_offset_start ?? null,\n    char_offset_end: j.char_offset_end ?? null,\n    page_estimate: j.page_estimate ?? null,\n    text: j.text || '',\n    embedding: Array.isArray(j.embedding) ? j.embedding : null,\n  };\n});\n\nconst totalTokens = items.reduce(\n  (acc, i) => acc + (i.json?.embedding_tokens || 0),\n  0\n);\nconst documentsIngested = Array.from(\n  new Set(chunks.map((c) => c.source_name))\n);\n\nconst validChunks = chunks.filter((c) => c.embedding && c.embedding.length > 0);\nif (validChunks.length === 0) {\n  throw new Error('No chunks have valid embeddings — retrieval will be impossible.');\n}\nif (validChunks.length < chunks.length) {\n  console.log(`WARN: ${chunks.length - validChunks.length} of ${chunks.length} chunks lacked embeddings; dropped.`);\n}\n\nconsole.log(`Vector store ready: ${validChunks.length} chunks across ${documentsIngested.length} documents; ${totalTokens} embedding tokens total.`);\n\nreturn {\n  json: {\n    run_id: first.run_id,\n    deal_id: first.deal_id,\n    company_name: first.company_name,\n    timestamp_started: first.timestamp_started,\n    source_manifest: first.source_manifest,\n    chunks: validChunks,\n    meta: {\n      chunk_count: validChunks.length,\n      total_embedding_tokens: totalTokens,\n      documents_ingested: documentsIngested,\n    },\n  },\n};\n"
      },
      "id": "b8c9d0e1-aggregate-vs-0000000008",
      "name": "Aggregate Vector Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coordinator": {
      "main": [
        [
          {
            "node": "Split Per-Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Per-Document": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Text Chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Chunker": {
      "main": [
        [
          {
            "node": "Embed Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Chunk": {
      "main": [
        [
          {
            "node": "Extract Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Embedding": {
      "main": [
        [
          {
            "node": "Aggregate Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "America/Toronto"
  },
  "versionId": "phase3-session1-v2",
  "meta": {
    "description": "Phase 3 workflow — iteration 2. Form Trigger → Coordinator → Split Per-Document → Extract from File. Each uploaded PDF becomes a separate item with extracted text. Next iteration adds Text Splitter + Embeddings (Alicloud HTTP) + Simple Vector Store."
  },
  "id": "deal-diligence-workflow",
  "tags": []
}
